.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #49306e;
  background-image: url("/pattern.svg");
  background-size: 5%; 
  background-repeat: repeat;
  background-position: center; 
}

.card {
  background: #704da6; /* university purple */
  color: white;
  padding: 2.5rem;
  border-radius: 1rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.logoWrapper {
  position: absolute;
  top: 80px;
  left: 5px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 100px;
  height: auto;
  transition: filter 0.3s ease-in-out;
}

.logo:hover {
  filter: drop-shadow(0px 4px 6px rgba(255, 189, 17, 0.7)); /* ✅ Golden Glow */
}


.heading {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #febd11;
}

.input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
  font-size: 1rem;
  outline: none;
  background-color: #fff;
  color: #000;
}

.input:focus {
  border-color: #febd11;
}

.button {
  background: #febd11;
  color: #49306e;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
  transition: background 0.2s;
}

.button:hover {
  background: #f1ac00;
}

.passwordWrapper {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.375rem;
}


.inputWithIcon {
  padding: 0.5rem 1rem;
  padding-right: 2.75rem;
  font-size: 1rem;
  outline: none;
  background-color: transparent;
  color: #000;
  border: none;
  width: 100%;
  box-sizing: border-box;
}

.inputWithIcon:focus {
  border: none;
  outline: none;
}


.eyeIconInside {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  color: #49306e;
  font-size: 1.1rem;
}

.messageSuccess {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #22c55e;
}

.messageError {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: #ef4444;
}
